<div id="schedule-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="#" id="schedule-detail-form" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Schedule List</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="schedule-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S NO</th>
                                    <th>Schedule Name</th>
                                    <th>Date & Time</th>
                                    <th>Vehicles</th>
                                    <th>Event</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data will be inserted dynamically via JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
